
/*INICIO SECCIÓN CITA FAMOSO**/
.sectionq {
    padding: 5.62em 2.5em 6.56em;
    text-align: center;
    height: 100%;
    background-image: url("../imagenes/fondofrida.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .quote {
    width: 80%;
    font-size: 3.31em;
    color: rgb(252, 250, 251);
    font-family: "Karantina", cursive;
    letter-spacing: 0.06em;
    padding: 2em 0.9em 2em;
    text-transform: uppercase;
  }
  
  .comilla {
    font-size: 2em;
    color: black;
  }
  
  .quoteautor {
    font-size: 2.5em;
    color: white;
  }
  
  /** FINAL SECCIÓN CITA FAMOSO **/
  