
/*Inicio sección mis conocimientos*/
.seccion2 {
    background-color: rgb(247, 247, 247);
    margin-top: 1em;
  }
  .main {
    padding: 3.12em 0.31em 9.37em;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    max-width: 850px;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  
  .item1 {
    background-color: white;
    width: 30.97%;
    border: 0.06em solid rgb(194, 193, 193);
    margin: 0.62em;
    text-align: center;
    border-radius: 0.62em;
    padding: 3.12em 1.25em 3.12em;
    box-shadow: 0em 0.2em 1em 0.4em grey;
    margin: 0.6em;

  }
  .item1:hover {
    box-shadow: 0em 0.2em 2em 0.2em blue ;
    color: rgb(65, 99, 104);
  }
  
  .titulo-conocimientos {
    font-size: 3.12em;
    font-weight: bold;
    font-family: "Bree Serif", serif;
  }
  .parrafo-conocimientos {
    margin-top: 1.87em;
    font-family: "Bree Serif", serif;
    font-size: 1em;
    color: gray;
    margin-bottom: 3.12em;
  }
  .titulo-c {
    font-family: "Bree Serif", serif;
    font-size: 1.37em;
  }
  .imagen2 {
    width: 35%;
    margin: 0.93em;
  }
  
  /**FIN CONOCIMIENTOS**/


/*******INICIO MEDIA QUERY 1100PX***********/
@media (max-width: 1100px) {
  .seccion2{
    align-items: center;
    justify-content: center;
    background-color: black;

  }
  .titulo-conocimientos{
    color: blue;
  }
  .parrafo-conocimientos{
    color: rgb(163, 85, 124);
    font-size: 1.5em;
  }
   }
   
/*******FIN MEDIA QUERY 1100PX***********/


/*******INICIO MEDIA QUERY 920PX***********/
@media (max-width: 920px){

.item1 {
  width: 44.92%;
  background-color: black;
  box-shadow: 0  0.3125em 1.25em 0.0625em blue;
  border: none;
  
}
.item1:hover{
  box-shadow: 0 0.125em 1.25em 0.5em rgb(226, 36, 131);
}
.titulo-c{
  color: white;

}
  
.main { 
  max-width: 400px;
}
.titulo-conocimientos{
  font-size: 2.9em;
  color: blue;
 }
}
/*******FIN MEDIA QUERY 920PX***********/


/*******INICIO MEDIA QUERY 480PX***********/
@media (max-width: 480px){
   .main{
     width: 300px;
   }
  .item1{
    width: 100%;
  }
}
@media (max-width: 390px) {
.main{
  padding: 0em 0 3em;
}
.titulo-conocimientos{
  font-size: 2.1em;
}
.parrafo-conocimientos{
  font-size: 1.2em;
}
  }
/*******FIN MEDIA QUERY 1100PX***********/

/*
 @media (max-width: 800px) {
  .main{
       width: 70%;
  }
  .item1{
    width: 50%;
    max-width: 220px;
  }
  */
/*
