/** INICIO SECCIÓN DE CONTACTO **/
.contactsection {
    display: flex;
    justify-content: center;
    padding: 100px 30px 120px;
    text-align: center;
    background-color: #f6f6f8;
  }
  
  
  .columna {
    width: 60%;
    display: flex;
    text-align: left;
    background-color: white;
    padding: 100px 64px;
    border: 1.4px solid rgb(202, 196, 196);
    margin: 15px;
    border-radius: 15px;
  }
  /** CONTACTAME **/
  
  .div-contactame {
    padding-right: 15px;
    width: 50%;
    text-align: left;
  }
  
  .social-media-item {
    display: flex;
    list-style: none;
    margin-top: 45px;
    font-size: 20px;
    font-family: "Bree Serif", serif;
    align-items: center;
    
  }
  .social-media-item .link-social-media{
    text-decoration: none;
    border-radius: 0.9em 1em;
    color: black;
    transition: 0.3s;
    display: flex;
    align-items: center;
    font-size: 0.8em;
  
    
  }
  .fa-instagram,
  .fa-github-alt,
  .fa-linkedin-in,
  .fa-envelope {
    display: block;
    text-align: center;
    background-color: white;
    color: rgba(57, 21, 219, 0.966);
    border-radius: 1em;
    font-size: 1.5em;
    margin-right: 10px;
    padding: 0.3em;
    border: 1px solid white;
  }
  
  .social-media-item:hover .link-social-media {
    color: violet;
  
  }
  
  .fa-instagram:hover,
  .fa-github-alt:hover,
  .fa-linkedin-in:hover,
  .fa-envelope:hover {
    color: white;
    background-color: rgba(57, 21, 219, 0.966);
  }
  
  /** ESCRIBEME **/
  .div-escribeme {
    padding-left: 0.93em;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .titulof {
    font-family: "Bree Serif", serif;
    margin-bottom: 1.87em;
    font-size: 3em;
  }
  .parrafocontacto {
    font-family: "Bree Serif", serif;
    margin-top:  2.18em;
  }
  .nombreYapellido {
    display: flex;
    margin-bottom: 1.25em;
  }
  .apellidoform {
    margin-left: 1.875em;
  }
  .e-mail {
    display: block;
    margin-bottom: 1.25em;
  }
  .msg {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.875em;
  }
  textarea,
  input {
    display: block;
    padding: 0.625em 1.06em;
    outline: none;
    width: 90%;
    border-radius: 1.875em;
    background-color: #f0f3f3ea;
    border: 1px solid #f3efef;
    box-shadow: 0em 0.06em 0.06em 0.06em rgb(219, 218, 218);
    font-family: "Bree Serif", serif;
  }
  input:focus,
  textarea:focus {
    box-shadow: 0 0px 0.18em 0.06em rgba(57, 21, 219, 0.966);
    transition: 0.9s;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-family: "Bree Serif", serif;
  }
  
  .btn {
    background-image: linear-gradient(to right, rgba(57, 21, 219, 0.966), black);
    padding: 5px 35px;
    border-radius: 15px;
    color: white;
    border: none;
  }
  .btn:hover {
    background-image: linear-gradient(to right, rgba(219, 21, 193, 0.966), black);
  }
  /** FIN SECCIÓN DE CONTACTO ***/