/********INICIO SECCIÓN DE CONTACTO*********/
.contactsection {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10em 4em 12em;
    background-color: #f6f6f8;
  }
  
  
  .cont {
    display: flex;
    padding: 1.5em 2.5em 1.5em;
    background-color: white;
    text-align: left;
    border: 0.0875em solid rgb(202, 196, 196);
    margin:  0.9375em;
    border-radius:  0.9375em;
 
  }
  /************************/
  /******CONTACTAME******/
  
  .div-contactame {
    padding-right: 0.93em;
    width: 50%;
    text-align: left;
  }
  /*********ITEM LIST*********/
  .social-media-item {
    display: flex;
    list-style: none;
    margin-top: 1.4em;
    font-size: 1.25em;
    font-family: "Bree Serif", serif;
    align-items: center;
    
  }
  /**********LINK**********/
 .link-social-media{
    text-decoration: none;
    border-radius: 0.9em 1em;
    color: black;
    transition: 0.3s;
    display: flex;
    align-items: center;
    font-size: 0.8em;
 
  }
  /***********************/


  /******ICONOS***********/
  .fa-instagram,
  .fa-github-alt,
  .fa-linkedin-in,
  .fa-envelope {
    display: block;
    text-align: center;
    background-color: white;
    color: rgba(57, 21, 219, 0.966);
    border-radius: 1em;
    font-size: 1.5em;
    margin-right:  0.62em;
    padding: 0.3em;
    border: 0.0625em solid white;
  }
  /*************************************/


  /**********HOVER***********/
  .social-media-item:hover .link-social-media {
    color: violet;
  
  }
  .fa-instagram:hover,
  .fa-github-alt:hover,
  .fa-linkedin-in:hover,
  .fa-envelope:hover {
    color: white;
    background-color: rgba(57, 21, 219, 0.966);
  }
   /*********************************************/
  
  /**********ESCRIBEME*******/
  .div-escribeme {
    padding-left: 0.93em;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .titulof {
    font-family: "Bree Serif", serif;
    margin-bottom: 1em;
    font-size: 3em;
  }
  .parrafocontacto {
    font-family: "Bree Serif", serif;
  }
  .nombreapellido {
    display: flex;
    margin-bottom: 1.25em;
  }
  .apellidoform {
    margin-left: 1.875em;
  }
  .e-mail {
    display: block;
    margin-bottom: 1.25em;
  }
  .msg {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.875em;
  }
  textarea,
  input {
    display: block;
    padding: 0.625em 1.06em;
    outline: none;
    width: 100%;
    border-radius: 1.875em;
    background-color: #f0f3f3ea;
    border: 0.062em solid #f3efef;
    box-shadow: 0em 0.06em 0.06em 0.06em rgb(219, 218, 218);
    font-family: "Bree Serif", serif;
  }
  input:focus,
  textarea:focus {
    box-shadow: 0 0 0.18em 0.06em rgba(57, 21, 219, 0.966);
    transition: 0.9s;
  }
  
  label {
    display: block;
    margin-bottom: 0.8em;
    font-weight: 400;
    font-family: "Bree Serif", serif;
  }
  
  .btn {
    background-image: linear-gradient(to right, rgba(57, 21, 219, 0.966), black);
    padding: 0.31em 2.18em;
    border-radius: 0.9em;
    color: white;
    border: none;
  }
  .btn:hover {
    background-image: linear-gradient(to right, rgba(219, 21, 193, 0.966), black);
  }
  /*************FIN SECCIÓN DE CONTACTO**********************************************/


  /*******INICIO MEDIA QUERY CONTACTO************/
  @media (max-width: 1100px) {
    .contactsection{
      background-color: black;
    }
  }
  @media (max-width: 900px) {
    .contactsection{
      background-color: black;
    }
    .cont {
      flex-direction: column;
      padding: 5em 2.5em 7.5em;
      border: none;
      justify-content: center;
      align-items:center;
      box-shadow: 0 1px 20px 10px rgb(7, 7, 122);
      background-color: black;
    
    }
    
    .links-social-media{
      display: flex;   
      flex-wrap: wrap;
   

    }
   .titulof{
     color: white;
   }
   .parrafocontacto{
     color: rgb(163, 85, 124);
   }
    .social-media-item{
      width: 50%;
  
    }
    .link-social-media{
      font-size: 0.59em;
      color: white;
    }
    .div-contactame{

      width: 100%;
      margin-bottom: 3.5em;
    }
     .div-escribeme{
       width: 100%;
      }
      .btn{
        background-image: none;
        background-color:rgb(10, 15, 255);
      }
  
       }

     @media (max-width: 532px) {
      .contactsection{
        padding: 0;
      } 
      .cont{
         width: 100%;
         padding: 1em 2em;
       }
       
       .titulof{
         font-size: 2em;
       }
       .links-social-media{
         flex-direction: column;
         
       }
       .link-social-media{
        font-size: 0.6em;
       }
       .apellidoform{
         margin: 0;
       }
       label{
         color: white;
         margin-top: 0.8em;
       }
       .nombreapellido{
         flex-direction: column;
       
        }
       }
       @media (max-width: 390px) {
        .contactsection{
          padding: 0;
        }
        .cont{
          width: 600px;
          padding: 1em;
        }
        .parrafocontacto{
          font-size: 0.8em;
        }
        textarea, input{
         padding: 0.2em;
        }
         }
       /*******INICIO MEDIA QUERY CONTACTO************/