
/** INICIO FOOTER **/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6.25em 1.56em 5em;
    background-image: linear-gradient(to right, rgba(57, 21, 219, 0.966), black);
    color: white;
  }
  .social-media-footer {
    list-style: none;
    margin: 0 0.62em;
  }
  .social-media {
    display: flex;
    margin: 0.62em 0;
    padding: 0.31em;
  }
  .social-media-links {
    display: flex;
    margin: 0.31em;
  }
  .social-media-foot {
   list-style: none;
    margin: 0 0.31em;
  }
  .link1:link{
    color: white;
  }
  .link1:visited{
    color: white;
  }
  .link1:hover{
    color: violet;
  }
  .link1:active{
    color: yellow;
    background-color: seagreen;
  }
   .link1{
   text-decoration: none;
    font-size: 1.4em;
    color: white;
  
  }


  
  @media (max-width: 700px) {
    .nav-footer {
     display: none;
  }
  
   }