/************************************************************************/
/***********************INICIO DE MIS PROYECTOS**************************/
/************************************************************************/
.seccion3 {
  background-color: #fff;
  padding: 0em 0.31em 9em;
}
.seccion3 .main2 {
  padding: 3.1em 0em 9.37em;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  max-width: 900px;
}

.seccion3 .main2 .grid2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.item2 {
  background-color: white;
  width: 31%;
  border: 0.062em solid rgb(194, 193, 193);
  margin: 0.6em;
  text-align: center;
  border-radius: 0.6em;
  padding: 2em 1em 2em;
  box-shadow: 0em 0.2em 1em 0.4em gray ;
  margin: 0.6em;
 }

.tituloprojects {
  margin-top: 1.5em;
  font-size: 3.3em;
  font-weight: bold;
  font-family: "Bree Serif", serif;
}
.titulo-d{
  font-size: 1em;
  font-family: "Bree Serif", serif;

}
.parrafoprojects {
  margin-top: 2em;
  font-family: "Bree Serif", serif;
  font-size: 1em;
  color: gray;
  margin-bottom: 2em;
}

.item2:hover {
  box-shadow: 0em 0.2em 2em 0.2em blue ;
  color: rgb(49, 8, 230);
}
.item2 .imagen3 {
  width: 96%;

}
.imagenp{
  width: 100%;
  padding: 2em 1em 2em;
}
.aprojects{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center

}
.titulo-d{
  font-family: "Bree Serif", serif; 
  font-size: 1em;
  margin-top: 1em;
  color: black;
}
/**********************************************/
/*********FINAL DE MIS PROYECTOS***************/
/***********************************************/



/*********************************************/
/*********MEDIA QUERY DE MIS PROYECTOS********/
/*********************************************/
@media (max-width: 1100px) {
  .seccion3 {
    background-color: black;
  }
  .tituloprojects {
    color: blue;
  }
 
}

@media (max-width: 900px) {
  .titulo-d{
    color: white;
  }
  .item2 {
    align-items: center;
    width: 47%;
    background-color: black;
    box-shadow: 0px 5px 20px 1px blue;
    border: none;
  }
  .item2:hover{
    box-shadow: 0px 2px 20px 8px rgb(226, 36, 131);
  }
  .seccion3 .main2{
    max-width: 705px;
  }
  .imagen3{
    width: 80%;
    height: 80%;
  }
  .parrafoprojects{
    color: rgb(163, 85, 124);
    font-size: 1.4em;
  }
}

@media (max-width: 713px) {
  .item2 {
    width: 46.39%;
  }
  .seccion3 .main2{
    max-width: 540px ;
  }
}

@media (max-width: 550px) {
  .item2 {
    width: 100%;
  }
  .seccion3 .main2{
    max-width: 500px ;
  }
}
