* {
  margin: 0;
  padding: 0;
 
}
body{
  box-shadow: -10px 2px 25px 3px #2324251e inset;
}
/** INICIO DE MEDIA QUERIES **/
@media (max-width: 1100px) {
  header {
    display: none;
  }

 
/*  .btn {
    padding: 2px;
  }

  .item2 {
    width: 26.63%;
  }

  .main2 {
    max-width: 1100px;
  }
  .imagenuno {
    max-width: 500px;
  
  }
   
  /*
  .seccion3 .main2 .grid2 .item2{
  width: 42.4%;
  }*/
  /*.columna{
    flex-direction: column;
    padding: 5em 1em 5em;
    border: 0;
    width: 100%;
  }
  .links-social-media{
    text-align: center;
    font-size: 1em;

  }
  .div-contactame{
    width: 100%;
    margin-bottom: 4em;
    text-align: center;
  }
  .div-escribeme{
    width: 100%;
  }
  input, textarea{
    width: 80%;

  }

   }

 


@media (max-width: 920px) {
  .item1 {
    width: 34.3%;
  }
  .main {
    max-width: 400px;
  }
/*
  .item2 {
    width: 25%;
  }
}

/*@media (max-width: 900px) {
  .item2 {
    width: 25%;
  }
 
   }*/

   /*@media (max-width: 400px) {
     .item1{
       width: 76%;
       flex-direction: column;
       align-items: center;
       justify-content: center;
     }
     .main{
       max-width: 400px;
     }
     .titulo-conocimientos{
       font-size: 1.9em;
     }
     .parrafo-conocimientos{
       font-size: 0.8em;
     }
   }
/*
  .main2 {
    max-width: 900px;
  }
  /*
  .sectionq {
    height: 100%;
    background-image: url(../imagenes/fondofrida.jpg);
  }
  .links-social-media{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }
  .links-social-media .social-media-item{
    width: 50%;
 
  }
}
@media (max-width: 700px) {
  .seccion3 .grid2{
    flex-direction: column;

  }

.grid2 .item2{
  width: 50%;
}
 }

 @media (max-width: 580px){

  .division1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}
   .seccion1{
     background-color: black;
   }
   .btn{
     padding: 0.3em 0.7em 0.3em;
   }

   .sectionq{
     background-image: url(../imagenes/fondofrida.jpg);
     height: 50%;
     background-size: cover;
     background-repeat: no-repeat;
     background-position:center;
   }
   .links-social-media{
    width: 100%;
  }
  .link-social-media{
    font-size: 0.7em ;
  }
 }

 @media (max-width: 350px) {
 .main {
     width: 100%;
     max-width: 190px;
      }
      .titulo-conocimientos{
        font-size: 1em;
      }
      .imagen2{
        width: 30%
      }
.grid{
  width: 100%;
}
    .item1{
    width: 50%;
    }
    