* {
  margin: 0;
  padding: 0;
}

/*barra deslizantee*/
header {
  background-color: rgb(255, 255, 255);
  padding: 23px 0;
  width: 100%;
  box-shadow: 5px 2px 30px 2px rgb(104, 28, 63);
  position: fixed;
  top: 0;
  z-index: 1;
}
/*ancho de la barra y posicion: flex, flexend*/
.nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  width: 100%;
}
/*margen de la barra*/
.menu {
  display: flex;
  margin: 0px;
  list-style: none;
}

/*padding de palabras de la barra de navegación*/
.item {
  padding: 4px 5px;
  margin-right: 32px;
  font-family: "Bree Serif", serif;
}

/*hovercontacto*/
.contacto1:hover {
  background-color: rgb(189, 133, 184);
}
.contacto1 {
  text-decoration: none;
  background-color: rgb(104, 28, 63);
  color: white;
  border-radius: 29px;
  padding: 5px 25px;
  letter-spacing: 1px;
}
/*hover links principales*/
.link:hover {
  color: rgb(189, 133, 184);
}

/*quita propiedades de linea al link*/
.link {
  text-decoration: none;
  color: black;
}

.seccion1 {
  margin-top: 90px;
  padding: 80px 50px 110px;
  height: 100%;
}

.division1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}
.columna {
  width: 100%;
}

.division2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-top: 130px;
  width: 50%;
  /*border: 1px solid rgb(230, 8, 112);*/
}

/*saludo dentro del div*/
.saludo {
  width: 600px;
  font-weight: 700;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 10px;
  color: rgb(90, 87, 87);
  font-family: "Bree Serif", serif;
}
/*nombre h1 dentro del div*/
.nombre {
  margin-top: 0;
  margin-bottom: 5px;
  color: rgb(189, 133, 184);
  font-size: 53px;
  font-family: "Courgette", cursive;
}
/**/

/*primera imagen dentro del primer div*/
.imagenuno {
  width: 44%;
  margin-top:112px;
  /*border: 1px solid rgb(230, 8, 112);*/
}
/**/
.descripcion {
  font-size: 17px;
  margin-top: 23px;
  color: gray;
  font-family: "Bree Serif", serif;
}
.sparkle {
  width: 18px;
}

/*Botón de LO QUE HAGO*/
.boton {
  padding: 10px 25px;
  border-radius: 100px;
  font-weight: 450px;
  color: white;
  margin-top: 40px;
  background-color: rgb(104, 28, 63);
  text-decoration: none;
  font-family: "Bree Serif", serif;
  letter-spacing: 1px;
}
.boton:hover {
  background-color: hotpink;
}
/*conocimientos*/

.main {
  padding: 50px 5px 150px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  max-width: 850px;
  
}
.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.item1 {
  background-color: white;
  width: 26%;
  border: 1px solid rgb(194, 193, 193);
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 50px 20px 50px;
}
.item1:hover {
  border: 1px solid rgb(216, 70, 143);
  color: rgb(235, 0, 129);
}
.seccion2 {
  background-color: rgb(247, 247, 247);
  margin-top: 90px;
}
.titulo-conocimientos {
  margin-top: 100px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Bree Serif", serif;
}
.parrafo-conocimientos {
  margin-top: 30px;
  font-family: "Bree Serif", serif;
  font-size: 16px;
  color: gray;
  margin-bottom: 50px;
}
.titulo-c {
  font-family: "Bree Serif", serif;
  font-size: 22px;
}
.imagen2 {
  width: 35%;
  margin: 15px;
}

/**FIN CONOCIMIENTOS**/

/***/
.sectionq {
  padding: 90px 40px 105px;
  text-align: center;
  background-color: rgb(165, 136, 165);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.quote {
  width: 80%;
  font-size: 37px;
  color: rgb(252, 250, 251);
  font-family: "Karantina", cursive;
  letter-spacing: 1px;
  padding: 80px 40px 80px;
 


}


.comilla{
  font-size: 2em;
  color: black;
}


.quoteautor{
  font-size: 2.5em;
  color: white;
}

/*MIS PROYECTOS*/
.seccion3 {
  background-color: #fff;
  padding: 0px 5px 150px;
 
}
.main2 {
  padding: 50px 5px 150px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  max-width: 1100px; 
}

.grid2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%; 
}
.item2 {
  background-color: white;
  width: 26.7%;
  border: 1px solid rgb(194, 193, 193);
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 100px 25px 100px;
}


.tituloprojects {
  margin-top: 100px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Bree Serif", serif;
}
.parrafoprojects {
  margin-top: 30px;
  font-family: "Bree Serif", serif;
  font-size: 16px;
  color: gray;
  margin-bottom: 2em;
}

.item2:hover {
  border: 1px solid rgb(216, 70, 143);
  color: rgb(235, 0, 129);
}
.imagen3 {
  width: 150px;
  height: 80px;
  margin: 15px;
}
/*Sección de contacto*/
.contactsection {
  display: flex;
  justify-content: center;
  padding: 100px 30px 120px;
  text-align: center;
  background-color: #f6f6f8;
}

.columna {
  width: 80%;
  display: flex;
  text-align: left;
  background-color: white;
  padding: 100px 64px;
  border: 1.4px solid rgb(202, 196, 196);
  margin: 15px;
  border-radius: 15px;
}
.div-contactame {
  padding-right: 15px;
  width: 50%;
  text-align: left;
}

.social-media-item {
  display: block;
  list-style: none;
  margin-top: 45px;
  font-size: 20px;
  font-family: "Bree Serif", serif;

  
}
.fa-instagram,  .fa-github-alt, .fa-linkedin-in, .fa-envelope{
  display: block;
  text-align: center;
  background-color: white;
  color: hotpink;
  border-radius: 1em;
  font-size: 1.2em;
  margin-right: 10px;
  padding: 6px 6px 6px;  
}

 .social-media-item:hover{
 color: aqua;

}

.fa-instagram:hover,  .fa-github-alt:hover, .fa-linkedin-in:hover, .fa-envelope:hover{
  color: white;
  background-color: hotpink;
  border: 1px solid white;
}


/**sdf**/
.div-escribeme {
  padding-left: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.nombreYapellido {
  display: flex; 
  margin-bottom: 20px;
  
}
.e-mail {
  display: block;
  margin-bottom: 20px;

}
.msg {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
textarea,
input {
  display: block;
  padding: 4px 6px;
  outline: none;
  width: 100%;
  border-radius: 20px;
  background-color: #f0f3f3ea;
  border: 1px solid #857f7f;
  box-shadow: 0px 1px 1px 1px rgb(219, 218, 218);
  font-family: "Bree Serif", serif;
}
input:hover {
  border: 1.4px solid rgb(221, 18, 120);
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  margin-top: 7px;
  font-family: "Bree Serif", serif;
}
textarea:hover {
  border: 1.4px solid hotpink;
  color: rgb(206, 18, 112);
}
.btn {
  background-color: rgb(230, 8, 112);
  padding: 5px 35px;
  border-radius: 15px;
  color: white;
  border: none;
}
.btn:hover {
  background-color:aqua;
  color: rgb(230, 8, 112);
}
/*****/

/**Footer**/
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 25px 80px;
  background-color: hotpink;

  color:black;
}
.social-media-footer{
  list-style: none;
  margin: 0 10px;
}
.social-media{
  display: flex;
  margin: 10px 0;
  padding: 5px;
}
.social-media-links{
  display: flex;
  margin: 5px;
}
.social-media-foot{
  list-style: none;
  margin: 0 5px;

}

@media (max-width: 1100px){
  header{ display: none;}
 
  .division1{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
}