* {
  margin: 0;
  padding: 0;
}

/*barra de navegación*/
header {
  background: rgb(0, 0, 0);
  background-image: linear-gradient(to right, rgba(114, 10, 233, 0.966), black);
  padding: 1.43em 0;
  width: 100%;
  box-shadow: 0.31em 0.12em 1.87em 0.12em rgb(104, 28, 63);
  position: fixed;
  top: 0;
  z-index: 1;
}
/*ancho de la barra y posicion: flex, flexend*/
.nav {
  display: flex;
  justify-content: flex-end;
  padding: 1em 0.1em;
  width: 100%;
}
/*margen de la barra*/
.menu {
  display: flex;
  margin: 0px;
  list-style: none;
}

/*padding de palabras de la barra de navegación*/
.item {
  padding: 0.25em 0.3125em;
  margin-right: 3em;
  font-family: "Bree Serif", serif;
}

/*hover contacto*/
.contacto1:hover {
  background-image: linear-gradient(to right, rgba(75, 49, 218, 0.966), black);
}
.contacto1 {
  text-decoration: none;
  background-color: rgb(42, 21, 117);
  color: white;
  border-radius: 1.81em;
  padding: 0.31em 1.56em;
  letter-spacing: 0.06em;
  box-shadow: 1px 1px 15px 1px white;
}
/*hover links principales*/
.link:hover {
  color: rgb(189, 133, 184);
}

/*quitar propiedades de linea al link*/
.link {
  text-decoration: none;
  color: rgb(224, 217, 217);
}
/*Inicio de sección saludo*/
.seccion1 {
  margin-top: 5.62;
  padding: 12em 8em 11em;
  /*min-height: 1100px;*/
}

.division1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1100;
}

.division2 {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-top: 8.125em;

  /*border: 1px solid rgb(230, 8, 112);*/
}

/*saludo dentro del div*/
.saludo {
  font-weight: 700;
  font-size: 2.18em;
  margin-top: 0;
  margin-bottom: 0.62em;
  color: rgb(90, 87, 87);
  font-family: "Bree Serif", serif;
}
/*nombre h1 dentro del div*/
.nombre {
  /*margin-top: 0;*/

  font-size: 72px;
  background: -webkit-linear-gradient(
    left top,
    rgb(38, 0, 255),
    rgb(255, 0, 85)
  );
  background: linear-gradient(
    to bottom right,
    rgb(38, 0, 255),
    rgb(255, 0, 85)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.31em;
  font-family: "Carter One", cursive;
}
/**/

/*primera imagen dentro del primer div*/
.imagenuno {
  width: 50%;
  max-width: 490px;
  margin-top: 4em;

  /*border: 1px solid rgb(230, 8, 112);*/
}
/**/
.descripcion {
  font-size: 1.4em;
  margin-top: 1.43em;
  color: rgb(163, 85, 124);
  font-family: "Bree Serif", serif;
}
.sparkle {
  width: 1.12em;
}

/*Botón de LO QUE HAGO*/
.boton {
  padding: 0.62em 1.56em;
  border-radius: 6.25em;
  font-weight: 28.12em;
  color: white;
  margin-top: 2.5em;
  background-image: linear-gradient(to right, rgba(57, 21, 219, 0.966), black);
  text-decoration: none;
  font-family: "Bree Serif", serif;
  letter-spacing: 0.06em;
}
.boton:hover {
  background-image: linear-gradient(to right, rgba(219, 21, 193, 0.966), black);
}
/*Final sección saludo**/

/*Inicio sección mis conocimientos*/
.seccion2 {
  background-color: rgb(247, 247, 247);
  margin-top: 1em;
}
.main {
  padding: 3.12em 0.31em 9.37em;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  max-width: 850px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.item1 {
  background-color: white;
  width: 26%;
  border: 0.06em solid rgb(194, 193, 193);
  margin: 0.62em;
  text-align: center;
  border-radius: 0.62em;
  padding: 3.12em 1.25em 3.12em;
}
.item1:hover {
  border: 0.08em solid rgb(15, 54, 224);
  color: rgb(65, 99, 104);
}

.titulo-conocimientos {
  margin-top: 2em;
  font-size: 3.12em;
  font-weight: bold;
  font-family: "Bree Serif", serif;
}
.parrafo-conocimientos {
  margin-top: 1.87em;
  font-family: "Bree Serif", serif;
  font-size: 1em;
  color: gray;
  margin-bottom: 3.12em;
}
.titulo-c {
  font-family: "Bree Serif", serif;
  font-size: 1.37em;
}
.imagen2 {
  width: 35%;
  margin: 0.93em;
}

/**FIN CONOCIMIENTOS**/

/*INICIO SECCIÓN CITA FAMOSO**/
.sectionq {
  padding: 5.62em 2.5em 6.56em;
  text-align: center;
  height: 100%;
  background-image: url("../imagenes/fondofrida.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.quote {
  width: 80%;
  font-size: 3.31em;
  color: rgb(252, 250, 251);
  font-family: "Karantina", cursive;
  letter-spacing: 0.06em;
  padding: 2em 2.5em 2em;
  text-transform: uppercase;
}

.comilla {
  font-size: 2em;
  color: black;
}

.quoteautor {
  font-size: 2.5em;
  color: white;
}

/** FINAL SECCIÓN CITA FAMOSO **/

/** INICIO DE MIS PROYECTOS **/
.seccion3 {
  background-color: #fff;
  padding: 0em 0.31em 9.37em;
}
.main2 {
  padding: 3.12em 0.31em 9.37em;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  max-width: 1100px;
}

.grid2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.item2 {
  background-color: white;
  width: 26.7%;
  border: 0.062em solid rgb(194, 193, 193);
  margin: 0.6em;
  text-align: center;
  border-radius: 0.6em;
  padding: 6.25em 1.56em 6.25em;
}

.tituloprojects {
  margin-top: 1.5em;
  font-size: 3.3em;
  font-weight: bold;
  font-family: "Bree Serif", serif;
}
.parrafoprojects {
  margin-top: 2em;
  font-family: "Bree Serif", serif;
  font-size: 16px;
  color: gray;
  margin-bottom: 2em;
}

.item2:hover {
  border: 1px solid rgb(216, 70, 143);
  color: rgb(235, 0, 129);
}
.imagen3 {
  width: 150px;
  height: 80px;
  margin: 15px;
}

/** FINAL SECCIÓN MIS PROYECTOS**/

/** INICIO SECCIÓN DE CONTACTO **/
.contactsection {
  display: flex;
  justify-content: center;
  padding: 100px 30px 120px;
  text-align: center;
  background-color: #f6f6f8;
}

.columna {
  width: 60%;
  display: flex;
  text-align: left;
  background-color: white;
  padding: 100px 64px;
  border: 1.4px solid rgb(202, 196, 196);
  margin: 15px;
  border-radius: 15px;
}
/** CONTACTAME **/

.div-contactame {
  padding-right: 15px;
  width: 50%;
  text-align: left;
}

.social-media-item {
  display: block;
  list-style: none;
  margin-top: 45px;
  font-size: 20px;
  font-family: "Bree Serif", serif;
}
.fa-instagram,
.fa-github-alt,
.fa-linkedin-in,
.fa-envelope {
  display: block;
  text-align: center;
  background-color: white;
  color: rgba(57, 21, 219, 0.966);
  border-radius: 1em;
  font-size: 1.2em;
  margin-right: 10px;
  padding: 6px 6px 6px;
  border: 1px solid white;
}

.social-media-item:hover {
  color: violet;
}

.fa-instagram:hover,
.fa-github-alt:hover,
.fa-linkedin-in:hover,
.fa-envelope:hover {
  color: white;
  background-color: rgba(57, 21, 219, 0.966);
}

/** ESCRIBEME **/
.div-escribeme {
  padding-left: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.titulof {
  font-family: "Bree Serif", serif;
  margin-bottom: 30px;
  font-size: 3em;
}
.parrafocontacto {
  font-family: "Bree Serif", serif;
  margin-top: 35px;
}
.nombreYapellido {
  display: flex;
  margin-bottom: 20px;
}
.apellidoform {
  margin-left: 30px;
}
.e-mail {
  display: block;
  margin-bottom: 20px;
}
.msg {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
textarea,
input {
  display: block;
  padding: 10px 17px;
  outline: none;
  width: 90%;
  border-radius: 30px;
  background-color: #f0f3f3ea;
  border: 1px solid #f3efef;
  box-shadow: 0px 1px 1px 1px rgb(219, 218, 218);
  font-family: "Bree Serif", serif;
}
input:focus,
textarea:focus {
  box-shadow: 0 0px 3px 1px rgba(57, 21, 219, 0.966);
  transition: 0.9s;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: "Bree Serif", serif;
}

.btn {
  background-image: linear-gradient(to right, rgba(57, 21, 219, 0.966), black);
  padding: 5px 35px;
  border-radius: 15px;
  color: white;
  border: none;
}
.btn:hover {
  background-image: linear-gradient(to right, rgba(219, 21, 193, 0.966), black);
}
/** FIN SECCIÓN DE CONTACTO ***/

/** INICIO FOOTER **/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 25px 80px;
  background-image: linear-gradient(to right, rgba(57, 21, 219, 0.966), black);

  color: white;
}
.social-media-footer {
  list-style: none;
  margin: 0 10px;
}
.social-media {
  display: flex;
  margin: 10px 0;
  padding: 5px;
}
.social-media-links {
  display: flex;
  margin: 5px;
}
.social-media-foot {
  list-style: none;
  margin: 0 5px;
}
/** INICIO DE MEDIA QUERIES **/
@media (max-width: 1100px) {
  header {
    display: none;
  }

  .division1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .seccion2 {
    align-items: center;
    justify-content: center;
  }
  .division2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .btn {
    padding: 2px;
  }

  .item2 {
    width: 26%;
  }

  .main2 {
    max-width: 1100px;
  }
  .imagenuno {
    max-width: 800px;
  }
}

@media (max-width: 920px) {
  .item1 {
    width: 34.3%;
  }
  .main {
    max-width: 400px;
  }

  .item2 {
    width: 26%;
  }

  .main2 {
    max-width: 2000px;
  }
}

@media (max-width: 900px) {
  .item2 {
    width: 39%;
  }

  .main2 {
    max-width: 650px;
  }
  .sectionq {
    height: 100%;
    background-image: url(../imagenes/fondofrida.jpg);
  }
}
